
.content-wrapper {
    margin: auto;
    width: 100%;
    max-width: 800px;
    border: 2px solid black;
    margin-bottom: 10px;
}

.Post {
    font-family: 'Anek Latin';
    margin: auto;
    justify-content: center;
    max-width: 800px;
    width: 100%;
    text-align: center;
}

.pdf-header {
    display: flex;
    height: 137px;
    width: 100%;
    background: rgb(68, 114, 196);
}

.item-wrapper{
    display: flex;
    justify-content: center;
    margin: auto;
}

.header-text{
    font-size: 20px;
    color: white;
    margin: auto;
    padding: 15px;
}

.user-image{
    width: max-content;
    padding-left: 5px;
}

.profile-img{
    border: 3px solid white;
    border-radius: 50%;
    max-width: 200px;
    max-height: 130px;
}

.experience-table{
    margin-top: 20px;
}